USE [master]
GO
/****** Object:  Database [XayDungPhanMemDB]    Script Date: 8/9/2021 10:11:56 PM ******/
CREATE DATABASE [XayDungPhanMemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XayDungPhanMemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\XayDungPhanMemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'XayDungPhanMemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\XayDungPhanMemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XayDungPhanMemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XayDungPhanMemDB]
GO
USE [XayDungPhanMemDB]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 8/9/2021 10:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[iDDVD] [bigint] NOT NULL,
	[iDHD] [bigint] NOT NULL,
	[thoiGianThue] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iDDVD] ASC,
	[iDHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVD]    Script Date: 8/9/2021 10:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVD](
	[iDDVD] [bigint] IDENTITY(1,1) NOT NULL,
	[trangThai] [int] NOT NULL,
	[iDTieuDe] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[iDDVD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 8/9/2021 10:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[iDHD] [bigint] IDENTITY(1,1) NOT NULL,
	[ngayThue] [date] NULL,
	[iDKH] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[iDHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 8/9/2021 10:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[iDKH] [bigint] IDENTITY(1,1) NOT NULL,
	[diaChi] [varchar](255) NULL,
	[phiTreHan] [float] NOT NULL,
	[sdt] [varchar](255) NULL,
	[ten] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[iDKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDVD]    Script Date: 8/9/2021 10:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDVD](
	[iDLoai] [bigint] IDENTITY(1,1) NOT NULL,
	[giaThue] [float] NOT NULL,
	[tenLoai] [varchar](255) NULL,
	[thoiGianThue] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iDLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatTruoc]    Script Date: 8/9/2021 10:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatTruoc](
	[iDKH] [bigint] NOT NULL,
	[iDTieuDe] [bigint] NOT NULL,
	[thoiGianDat] [datetime2](7) NULL,
	[trangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iDKH] ASC,
	[iDTieuDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuGhiNhanThanhToanPhiTreHan]    Script Date: 8/9/2021 10:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuGhiNhanThanhToanPhiTreHan](
	[maPhieu] [int] IDENTITY(1,1) NOT NULL,
	[ngayThanhToan] [datetime2](7) NULL,
	[soDuNo] [float] NOT NULL,
	[soTienTra] [float] NOT NULL,
	[iDKH] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 8/9/2021 10:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[idTk] [bigint] IDENTITY(1,1) NOT NULL,
	[matKhau] [varchar](255) NULL,
	[taiKhoan] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TieuDeDVD]    Script Date: 8/9/2021 10:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TieuDeDVD](
	[iDTieuDe] [bigint] IDENTITY(1,1) NOT NULL,
	[tenTieuDe] [varchar](255) NULL,
	[iDLoai] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[iDTieuDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FKbnqktjsut28507ctcirt8yp3l] FOREIGN KEY([iDDVD])
REFERENCES [dbo].[DVD] ([iDDVD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FKbnqktjsut28507ctcirt8yp3l]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FKohmuk15p6l02kpuh0ndfbhuvr] FOREIGN KEY([iDHD])
REFERENCES [dbo].[HoaDon] ([iDHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FKohmuk15p6l02kpuh0ndfbhuvr]
GO
ALTER TABLE [dbo].[DVD]  WITH CHECK ADD  CONSTRAINT [FKjuqgojrsq370w2t4hbmdtyofx] FOREIGN KEY([iDTieuDe])
REFERENCES [dbo].[TieuDeDVD] ([iDTieuDe])
GO
ALTER TABLE [dbo].[DVD] CHECK CONSTRAINT [FKjuqgojrsq370w2t4hbmdtyofx]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK7v1wxyej848cci22kou9vyaur] FOREIGN KEY([iDKH])
REFERENCES [dbo].[KhachHang] ([iDKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK7v1wxyej848cci22kou9vyaur]
GO
ALTER TABLE [dbo].[PhieuDatTruoc]  WITH CHECK ADD  CONSTRAINT [FKaivo1qf40u29i2ejj3w6o8npe] FOREIGN KEY([iDTieuDe])
REFERENCES [dbo].[TieuDeDVD] ([iDTieuDe])
GO
ALTER TABLE [dbo].[PhieuDatTruoc] CHECK CONSTRAINT [FKaivo1qf40u29i2ejj3w6o8npe]
GO
ALTER TABLE [dbo].[PhieuDatTruoc]  WITH CHECK ADD  CONSTRAINT [FKr46ia6b6o9m1c17jpi165pv6p] FOREIGN KEY([iDKH])
REFERENCES [dbo].[KhachHang] ([iDKH])
GO
ALTER TABLE [dbo].[PhieuDatTruoc] CHECK CONSTRAINT [FKr46ia6b6o9m1c17jpi165pv6p]
GO
ALTER TABLE [dbo].[PhieuGhiNhanThanhToanPhiTreHan]  WITH CHECK ADD  CONSTRAINT [FKpjkuuc3arxwgtxxijimm5xb8] FOREIGN KEY([iDKH])
REFERENCES [dbo].[KhachHang] ([iDKH])
GO
ALTER TABLE [dbo].[PhieuGhiNhanThanhToanPhiTreHan] CHECK CONSTRAINT [FKpjkuuc3arxwgtxxijimm5xb8]
GO
ALTER TABLE [dbo].[TieuDeDVD]  WITH CHECK ADD  CONSTRAINT [FK4vx3m4cmxigbox51oiyfykasx] FOREIGN KEY([iDLoai])
REFERENCES [dbo].[LoaiDVD] ([iDLoai])
GO
ALTER TABLE [dbo].[TieuDeDVD] CHECK CONSTRAINT [FK4vx3m4cmxigbox51oiyfykasx]
GO
USE [master]
GO
